<div class="page page-ui colors">






  <div class="panel panel-default">
    <div class="panel-heading"><strong>Primary</strong></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch red"></div>
          <span>red</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch black"></div>
          <span>black</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch white"></div>
          <span>white</span>
        </div>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading"><strong>Background and Functional Gray</strong></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch bg-gray-1"></div>
          <span>bg-gray-1</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch bg-gray"></div>
          <span>bg-gray</span>
        </div>
      </div>
      <div class="divider divider-dashed divider-lg pull-in"></div>
      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch charcoal"></div>
          <span>charcoal</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch gray"></div>
          <span>gray</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch light-gray"></div>
          <span>light-gray</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch lighter-gray"></div>
          <span>lighter-gray</span>
        </div>
      </div>

    </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading"><strong>UI Colors</strong></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch red-hover"></div>
          <span>red-hover</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch red-active"></div>
          <span>red-active</span>
        </div>
      </div>
      <div class="divider divider-dashed divider-lg pull-in"></div>
      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch blue-link"></div>
          <span>blue-link</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch blue-link-hover"></div>
          <span>blue-link-hover</span>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Pop Colors</strong></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-teal"></div>
          <span>pop-teal</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-sky"></div>
          <span>pop-sky</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-gold"></div>
          <span>pop-gold</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-salmon"></div>
          <span>pop-salmon</span>
        </div>
      </div>
      <div class="divider divider-dashed divider-lg pull-in"></div>
      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-green"></div>
          <span>pop-green</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-blue"></div>
          <span>pop-blue</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-yellow"></div>
          <span>pop-yellow</span>
        </div>

        <div class="col-md-1 color-container text-center">
          <div class="color-swatch pop-orange"></div>
          <span>pop-orange</span>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Style Brand Colors</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch brand-primary"></div>
          <span>primary</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch brand-success"></div>
          <span>success</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch brand-info"></div>
          <span>info</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch brand-warning"></div>
          <span>warning</span>
        </div>
        <div class="col-md-1 color-container text-center">
          <div class="color-swatch brand-danger"></div>
          <span>danger</span>
        </div>
      </div>
    </div>
  </div>

</div>
