<div class="panel panel-default">
    <div class="panel-heading"><strong>Neue Haas Grotesk™ under 18pt</strong></div>
    <div class="panel-body font-container">
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-55-Txt'; font-size:18px;"> NHG-W01-55-Txt </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-55-Txt'; font-size:18px;"> Neue Haas Grotesk™ W01 Text 55 Roman </div>
				</div>
      </div>
			<div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-56-TxtI'; font-size:18px;"> NHG-W01-56-TxtI </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-56-TxtI'; font-size:18px;"> Neue Haas Grotesk™ W01 Text 56 Italic </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-75-TxtBd'; font-size:18px;"> NHG-W01-75-TxtBd </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-75-TxtBd'; font-size:18px;"> Neue Haas Grotesk™ W01 Text 75 Bold </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-76-TxtBdI'; font-size:18px;"> NHG-W01-76-TxtBdI </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-76-TxtBdI'; font-size:18px;"> Neue Haas Grotesk™ W01 Text 76 Bold Italic </div>
				</div>
      </div>
		</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Neue Haas Grotesk™ over 18pt</strong></div>
    <div class="panel-body font-container">
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-55-Dsp'; font-size:22px;"> NHG-W01-55-Dsp </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-55-Dsp';  font-size:22px;"> Neue Haas Grotesk™ W01 Display 55 Roman </div>
				</div>
			</div>
			 <div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-56-DspI'; font-size:22px;"> NHG-W01-56-DspI </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-56-DspI'; font-size:22px;"> Neue Haas Grotesk™ W01 Display 56 Italic </div>
				</div>
			</div>
			 <div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-75-DspBd'; font-size:22px;"> NHG-W01-75-DspBd </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-75-DspBd'; font-size:22px;"> Neue Haas Grotesk™ W01 Display 75 Bold </div>
				</div>
			</div>
			 <div class="row">
				<div class="col-md-3">
					<div style="font-family:'NHG-W01-76-DspBdI'; font-size:22px;"> NHG-W01-76-DspBdI </div>
				</div>
				<div class="col-md-9">
					<div style="font-family:'NHG-W01-76-DspBdI'; font-size:22px;"> Neue Haas Grotesk™ W01 Display 76 Bold Italic </div>
				</div>
			</div>
		</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Full Font Library</strong></div>
    <div class="panel-body font-container">
      <div class="row">
				<div class="col-md-6">
					<div style="font-family:'NHG-W01-55-Txt';"> Neue Haas Grotesk™ W01 Text 55 Roman </div>
					<div style="font-family:'NHG-W01-56-TxtI';"> Neue Haas Grotesk™ W01 Text 56 Italic </div>
					<div style="font-family:'NHG-W01-65-TxtMd';"> Neue Haas Grotesk™ W01 Text 65 Medium </div>
					<div style="font-family:'NHG-W01-66-TxtMdI';"> Neue Haas Grotesk™ W01 66 Medium Italic </div>
					<div style="font-family:'NHG-W01-75-TxtBd';"> Neue Haas Grotesk™ W01 Text 75 Bold </div>
					<div style="font-family:'NHG-W01-76-TxtBdI';"> Neue Haas Grotesk™ W01 Text 76 Bold Italic </div>

					<div style="font-family:'NHG-W01-55-Dsp';"> Neue Haas Grotesk™ W01 Display 55 Roman </div>
					<div style="font-family:'NHG-W01-56-DspI';"> Neue Haas Grotesk™ W01 Display 56 Italic </div>
					<div style="font-family:'NHG-W01-65-DspMd';"> Neue Haas Grotesk™ W01 Text 65 Medium </div>
					<div style="font-family:'NHG-W01-66-DspMdI';"> Neue Haas Grotesk™ W01 Text 66 Medium Italic </div>
					<div style="font-family:'NHG-W01-75-DspBd';"> Neue Haas Grotesk™ W01 Display 75 Bold </div>
					<div style="font-family:'NHG-W01-76-DspBdI';"> Neue Haas Grotesk™ W01 Display 76 Bold Italic </div>
				</div>
				<div class="col-md-6">
					<div style="font-family:'NH-W01-47-LtCn';"> Neue Helvetica W01 47 Condensed Light </div>
					<div style="font-family:'NH-W01-47-LtCnOb';"> Neue Helvetica W01 47 Condensed Light Oblique </div>
					<div style="font-family:'NH-W01-67-MdCn';"> Neue Helvetica W01 67 Condensed Medium </div>
					<div style="font-family:'NH-W01-67-MdCnOb';"> Neue Helvetica W01 67 Condensed Medium Oblique </div>
					<div style="font-family:'NH-W01-77-BdCn';"> Neue Helvetica W01 77 Condensed Bold Oblique </div>
					<div style="font-family:'NH-W01-77-BdCnOb';"> Neue Helvetica W01 77 Condensed Bold Oblique </div>
					<div style="font-family:'NH-W02-47-LtCn';"> Neue Helvetica W02 47 Condensed Light </div>
					<div style="font-family:'NH-W02-57-Cn';"> Neue Helvetica W02 57 Condensed </div>
					<div style="font-family:'NH-W02-57-CnOb';"> Neue Helvetica W02 57 Condensed Oblique </div>
				</div>
      </div>
		</div>
</div>