<div class="panel panel-default">
    <div class="panel-heading"><strong>Thingspace</strong></div>
    <div class="panel-body font-container">
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:Thingspace; font-weight:400; font-size:18px;"> Thingspace 400</div>
				</div>
				<div class="col-md-9">
					<div style="font-family:Thingspace; font-weight:400; font-size:18px;"> { font-family:Thingspace; font-weight:400; font-size:18px; }</div>
				</div>
      </div>
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:Thingspace; font-weight:500; font-size:18px;"> Thingspace 500</div>
				</div>
				<div class="col-md-9">
					<div style="font-family:Thingspace; font-weight:500; font-size:18px;"> { font-family:Thingspace; font-weight:500; font-size:18px; }</div>
				</div>
      </div>
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:Thingspace; font-weight:600; font-size:18px;"> Thingspace 600</div>
				</div>
				<div class="col-md-9">
					<div style="font-family:Thingspace; font-weight:600; font-size:18px;"> { font-family:Thingspace; font-weight:600; font-size:18px; }</div>
				</div>
      </div>
      <div class="row">
				<div class="col-md-3">
					<div style="font-family:Thingspace; font-weight:700; font-size:18px;"> Thingspace 700</div>
				</div>
				<div class="col-md-9">
					<div style="font-family:Thingspace; font-weight:700; font-size:18px;"> { font-family:Thingspace; font-weight:700; font-size:18px; }</div>
				</div>
      </div>
		</div>
</div>

