<div class="page page-ui page-icons">

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Custom Icons</strong></div>
        <div class="panel-body vz-icons">

            <div class="icon-section">
              <h3>Web App Icons </h3>

              <div class="icon-container">
                <span class="icon-app-sample"></span>
                <span class="glyphicon-class">icon-app-sample</span>
              </div>
              <div class="icon-container">
                <span class="icon-bell"></span>
                <span class="glyphicon-class">icon-bell</span>
              </div>
              <div class="icon-container">
                <span class="icon-check"></span>
                <span class="glyphicon-class">icon-check</span>
              </div>
              <div class="icon-container">
                  <span class="icon-check-square-off"></span>
                  <span class="glyphicon-class">icon-check-square-off</span>
              </div>
              <div class="icon-container">
                  <span class="icon-check-square-on"></span>
                  <span class="glyphicon-class">icon-check-square-on</span>
              </div>
              <div class="icon-container">
                  <span class="icon-close"></span>
                  <span class="glyphicon-class">icon-close</span>
              </div>
              <div class="icon-container">
                  <span class="icon-edit"></span>
                  <span class="glyphicon-class">icon-edit</span>
              </div>
              <div class="icon-container">
                <span class="icon-error"></span>
                <span class="glyphicon-class">icon-error</span>
              </div>
              <div class="icon-container">
                  <span class="icon-home"></span>
                  <span class="glyphicon-class">icon-home</span>
              </div>
              <div class="icon-container">
                <span class="icon-info-circle"></span>
                <span class="glyphicon-class">icon-info-circle</span>
              </div>
              <div class="icon-container">
                <span class="icon-list-view"></span>
                <span class="glyphicon-class">icon-list-view</span>
              </div>
              <div class="icon-container">
                  <span class="icon-pages"></span>
                  <span class="glyphicon-class">icon-pages</span>
              </div>
              <div class="icon-container">
                <span class="icon-palette"></span>
                <span class="glyphicon-class">icon-palette</span>
              </div>
              <div class="icon-container">
                  <span class="icon-pattern"></span>
                  <span class="glyphicon-class">icon-pattern</span>
              </div>
              <div class="icon-container">
                  <span class="icon-profile"></span>
                  <span class="glyphicon-class">icon-profile</span>
              </div>
              <div class="icon-container">
                  <span class="icon-radio-off"></span>
                  <span class="glyphicon-class">icon-radio-off</span>
              </div>
              <div class="icon-container">
                  <span class="icon-radio-on"></span>
                  <span class="glyphicon-class">icon-radio-on</span>
              </div>
              <div class="icon-container">
                  <span class="icon-save"></span>
                  <span class="glyphicon-class">icon-save</span>
              </div>
              <div class="icon-container">
                  <span class="icon-search"></span>
                  <span class="glyphicon-class">icon-search</span>
              </div>
              <div class="icon-container">
                  <span class="icon-trash"></span>
                  <span class="glyphicon-class">icon-trash</span>
              </div>
              <div class="icon-container">
                  <span class="icon-warning"></span>
                  <span class="glyphicon-class">icon-warning</span>
              </div>
            </div><!-- Web App Icons -->


            <div class="icon-section">
                <h3>Arrows &amp; Direction Icons </h3>

                <div class="icon-container">
                    <span class="icon-chevron-right"></span>
                    <span class="glyphicon-class">icon-chevron-right</span>
                </div>
                <div class="icon-container">
                    <span class="icon-chevron-down"></span>
                    <span class="glyphicon-class">icon-chevron-down</span>
                </div>
                <div class="icon-container">
                    <span class="icon-chevron-left"></span>
                    <span class="glyphicon-class">icon-chevron-left</span>
                </div>
                <div class="icon-container">
                    <span class="icon-chevron-up"></span>
                    <span class="glyphicon-class">icon-chevron-up</span>
                </div>
                <div class="icon-container">
                    <span class="icon-angle-right"></span>
                    <span class="glyphicon-class">icon-angle-right</span>
                </div>
                <div class="icon-container">
                    <span class="icon-angle-down"></span>
                    <span class="glyphicon-class">icon-angle-down</span>
                </div>
                <div class="icon-container">
                    <span class="icon-angle-left"></span>
                    <span class="glyphicon-class">icon-angle-left</span>
                </div>
                <div class="icon-container">
                    <span class="icon-angle-up"></span>
                    <span class="glyphicon-class">icon-angle-up</span>
                </div>

            </div><!-- Arrows and Direction Icons -->

        </div>
    </div>
</div>
