.footer {
  margin: 0px;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 90px;
  bottom: 0px;
  .container {
    padding: 0px;
  }
  .navbar {
    &.navbar-cd {
      padding: 26px 0px 0px;
      border-bottom: 0px;
      border-top: 1px solid $lighter-gray;
    }
  }
  .navbar-default .navbar-collapse {
    margin-left: 0px;
    padding: 0px;
    float: none;
  }
  .copyrights {
    font-size: 12px;
    color: $light-gray;
    font-family: Thingspace;
		font-weight: 400;
    display: block;
  }
}
