.img-main-message {
    margin-bottom: 50px;
    h3 {
      font-size: 30px;
      font-family: Thingspace;
			font-weight: 700;
      line-height: 1.4;
    }
  }
.img-wrapper {
  margin-bottom: 70px;
  padding: 20px;
  img {
    margin: 0 auto 0px;
  }
}
