/* color Variables
//-------------------------------------------------- */

/* Primary */
$red:								#cd040b;
$black:							#000000;
$white:							#ffffff;

/* Background Gray */
$bg-gray-1:					#E4E5E3;
$bg-gray:           #F6F6F6;

/* Functional Gray */
$charcoal:					#333333;
$gray:							#4B4B4B;
$light-gray:				#959595;
$lighter-gray:			#CCCCCC;

/* UI Colors */
$red-hover:					#A80309;
$red-active:				#990308;
$blue-link:    		#0066CC;
$blue-link-hover:	#00478E;

/* Pops */
$pop-teal:							#82CEAC;
$pop-gold:							#FBD362;
$pop-sky:								#ABE0F9;
$pop-green:							#E9F8E9;
$pop-blue:							#E8F6FE;
$pop-yellow:						#FEFFE4;
$pop-salmon:						#F9B295;
$pop-orange:						#FEF0E8;